In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(['amigos', 'amigas', 'amizades', 'carreira', 'carreiras'], columns = ['Original'])

In [12]:
df

    Original
0     amigos
1     amigas
2   amizades
3   carreira
4  carreiras

In [13]:
!pip install certifi

Requirement already satisfied: certifi in /home/B901599/anaconda3/lib/python3.11/site-packages (2023.7.22)

In [14]:
import ssl
import certifi

ssl._create_default_https_context = ssl._create_unverified_context

In [15]:
import nltk
nltk.download('rslp')

[nltk_data] Downloading package rslp to /home/B901599/nltk_data...
[nltk_data]   Package rslp is already up-to-date!

True

In [16]:
stemmer = nltk.stem.RSLPStemmer()

In [17]:
df['nltk_stemmer'] = [stemmer.stem(palavra) for palavra in df['Original']]

In [18]:
df

    Original nltk_stemmer
0     amigos         amig
1     amigas         amig
2   amizades       amizad
3   carreira         carr
4  carreiras         carr

In [33]:
from nltk.stem import PorterStemmer, LancasterStemmer

In [39]:
porter = PorterStemmer()
lancaster = LancasterStemmer()

df_words = pd.DataFrame(['happy', 'happiest', 'happier', 'cactus', 'cactii', 'elephant', 'elephants', 'amazed', 'amazing', 'amazingly', 'cement', 'owed', 'maximum'], columns = ['Original'])

In [41]:
df_words['Porter_Stemmed'] = [porter.stem(word) for word in df_words['Original']]
df_words['Lancaster_Stemmed'] = [lancaster.stem(word) for word in df_words['Original']]

In [42]:
df_words

     Original Porter_Stemmed Lancaster_Stemmed
0       happy          happi             happy
1    happiest       happiest          happiest
2     happier        happier             happy
3      cactus          cactu              cact
4      cactii         cactii             cacti
5    elephant          eleph             eleph
6   elephants          eleph             eleph
7      amazed           amaz              amaz
8     amazing           amaz              amaz
9   amazingly      amazingli              amaz
10     cement         cement               cem
11       owed            owe                ow
12    maximum        maximum             maxim

In [43]:
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /home/B901599/nltk_data...
[nltk_data] Downloading package omw-1.4 to /home/B901599/nltk_data...

True

In [45]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

lemmatizer = WordNetLemmatizer()

In [47]:
df_lemm = pd.DataFrame(['amaze', 'amazed', 'amazing'], columns = ['Original'])

df_lemm['Lemmatized'] = [lemmatizer.lemmatize(word, wordnet.VERB) for word in df_lemm['Original']]

In [51]:
df_lemm

  Original Lemmatized
0    amaze      amaze
1   amazed      amaze
2  amazing      amaze